body{
    background-color: #2f3142;
    font-family: 'Outfit', sans-serif;
    color: silver;
}
.header{
    font-size: 30px;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
.resultado,
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

.rock, 
.paper,
.scissors{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222430;
    color: #474747;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-title{
    width: 250px;
    height: 70px;

}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 50%;
    border-color: #9680808d;
    box-shadow: rgba(219, 219, 219, 0.25) 0px 5px 5px, rgba(219, 219, 219, 0.25) 0px -2px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.card{
    height: 100px;
    width: 100px; 
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paper .card{
    height: 90px;
    width: 90px; 
}

